<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304440490143-kga1jelbi045muvm2k7v9vic7g32fqm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304440490143-kga1jelbi045muvm2k7v9vic7g32fqm3</string>
	<key>API_KEY</key>
	<string>AIzaSyD1nkscdr8yNNURSoWq1bEG3a0xWR7dC5s</string>
	<key>GCM_SENDER_ID</key>
	<string>304440490143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.StudyCast.phillips</string>
	<key>PROJECT_ID</key>
	<string>studydb-63ec0</string>
	<key>STORAGE_BUCKET</key>
	<string>studydb-63ec0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:304440490143:ios:bb55540a6ad34433</string>
	<key>DATABASE_URL</key>
	<string>https://studydb-63ec0.firebaseio.com</string>
</dict>
</plist>